html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.all {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}


.block-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.block-header p {
    margin: 0;
    font-size: 1.2em;
}

.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.block a {
    margin-top: 10px;
    font-size: 1em;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

.block a:hover {
    margin-top: 10px;
    font-size: 1.3em;
    color: blue;
    transition: 0.5s;
}

.block-item {
    text-align: center;
    margin: 10px;
}

.block-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #333;
    border-radius: 25px;
    transition: 1s;
}
.block-item img:hover {
     width: 400px;
     height: 400px;
     object-fit: cover;
     border: 5px solid blue;
     border-radius: 25px;
    transition: 1s;
 }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}

footer a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

footer a:hover {
    color: red;
    transition: 0.5s;
    font-size: 1.2em;
}